@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Add Copy Numbers</h2>

<h4>Add copies for this book: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BookId)

    @Html.Label("Enter number of copies for book")
    @Html.TextBox("CopyNumber")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>