@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h2>Add a Book</h2>

<h4>Add a book to this author: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AuthorId)

    @Html.Label("Select Book")
    @Html.DropDownList("BookId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Author List", "Index")</p>